<div *ngIf="!activo; else contenidoElse" class="containerCards">
  <div class="card" *ngFor="let objeto of listaObjeto">
    
    <!-- Imagen -->
    <div class="card-img">
      <img [src]="objeto.image" alt="{{objeto.title}}">
    </div>

    <!-- Nombre del producto -->
    <h3 class="card-title">{{objeto.title}}</h3>

    <!-- Precio -->
    <p class="card-price">COP {{objeto.price}}</p>

    <!-- Botón -->
    <button class="btn-add"  (click)="ejecutarAccion(objeto)">{{ modo === 'tienda' ? 'Agregar al carrito' : 'Eliminar del carrito' }}</button>
    
  </div>
</div>

<ng-template #contenidoElse>
  <ion-button (click)="inactivar()">Mostrar Productos</ion-button>
</ng-template>