  <div *ngIf="!activo; else contenidoElse" class="containerCards">
  <div class="card" *ngFor ="let objeto of listaObjeto">
    <div>
      <img src="assets/logo.png" alt="">
    </div>
    
    <p>ID:<br>{{objeto.id}}</p>
    <p>Nombre: <br> {{objeto.title}}</p>
    <p>Precio: <br>{{objeto.price}}</p>
    <p>Categoria: <br>{{objeto.category}}</p>
    <p>Descripcion:Categoria <br>{{objeto.description}}</p>  
  </div>
  </div>

<ng-template #contenidoElse>
<ion-button (click)="inactivar()" >Mostrar Productos</ion-button>
</ng-template>

