*{
    margin: 0;
    padding: 0;
}
p{ 
    text-align: center;
    margin: 1vh 0vh;
    color: white;
}
.containerCards{
    padding:2vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: start;
    gap:2vh; 
    border:1px solid #ed96ff;  
}
.card{
    padding:5vh;
    max-width: 40vh;
    max-height: 80vh;
    border:1px solid #ed96ff;
    border-radius: 1vh;
    
}
.card:hover{
    transform: translateY(-0.9vh);
    opacity: 0.4;
}
