* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerCards {
  padding: 2vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3vh;
  justify-items: center;
  background-color: transparent;
  align-items: start;
}
.card {
  width: 260px;
  background: linear-gradient(50deg, #380b46, #22002d);
  border: 1px solid #511661;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  color: #bfa5c9;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-0.9vh);
  opacity: 0.8;
}
.card-img img {
  margin: 1vh auto;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.card-img{
  text-align: center;
  margin: 1vh 0vh;  
  background: transparent;
}
.card-title {
  color: #d8b8e8; /* tono lavanda suave */
  text-shadow: 0 0 6px rgba(0,0,0,0.7);
  font-weight: 600;
}
.card-price {
  color: #9c7ab7;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);

}
.card-content{
  color: #cbb3d6;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  line-height: 1.4;
  font-size: 0.9rem;
}


.btn-add{
  margin: 2vh 0vh;
}