  <div >
  <ion-card class="card" *ngIf="!activo; else contenidoElse" >    
  <ion-card-header class="headerCard">
    <ion-card-title>
      Productos
    </ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <ion-list>
      <ion-item *ngFor ="let objeto of listaObjeto">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src={{objeto.image}} />
        </ion-thumbnail>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-label>ID:{{objeto.id}}</ion-label>
        <ion-label>Nombre: {{objeto.title}}</ion-label>
        <ion-label>Precio: {{objeto.price}}</ion-label>
        <ion-label>Descripcion: {{objeto.description}}</ion-label>
        <ion-label>Categoria: {{objeto.category}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>

  </ion-card>
    <ng-template #contenidoElse>
    <ion-button (click)="inactivar()" >Mostrar Productos</ion-button>
    </ng-template>
  </div>


