<div>
  <ion-card   >    
  <ion-card-header >
    <ion-card-title>
      Crear Producto
    </ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <ion-label>Imagen</ion-label>
    <ion-input  [(ngModel)]="image" type="file" ></ion-input>
    <ion-label>ID</ion-label>
    <ion-input  [(ngModel)]="id" type="number" ></ion-input>
    <ion-label>NOMBRE</ion-label>
    <ion-input  [(ngModel)]="title" type="text"></ion-input>
    <ion-label>PRECIO</ion-label>
    <ion-input  [(ngModel)]="price" type="number"></ion-input>
    <ion-label>DESCRIPCION</ion-label>
    <ion-input  [(ngModel)]="category" type="text"></ion-input>
    <ion-label>CATEGORIA</ion-label>
    <ion-textarea  [(ngModel)]="description" type="text"></ion-textarea>    
    <ion-button (click)="enviarProducto()">Guardar</ion-button>
  </ion-card-content>
  </ion-card>
</div>
