*{
    margin: 0;
    padding: 0;
}
ion-card-subtitle{
    font-size: 2vh;
    text-align: center;
}

img{
    margin: auto;
    width: 50vh;
    height: 10vh;
}
.formulario{
    margin: 1vh 1vh;
    padding: 2vh;
}
ion-title,ion-card-title{
    text-align: center;
}
p{
    color: #ed96ff;
}
ion-header{
    --background:#22002d;
}