<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>USER INFORMATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">    
    <ion-card-header class="headerCard">
      <ion-avatar  class="avatar">
        <ion-img [src]="ImgUser" alt="Usuario" ></ion-img>
      </ion-avatar>
      <ion-card-title class="informatinTitle">INFORMATION</ion-card-title>    
    </ion-card-header>

    <ion-card-content class="cardContent">
      <ion-card-title>NAME</ion-card-title>
        <ion-card-subtitle>{{name}}</ion-card-subtitle>
      <ion-card-title>SECOND NAME</ion-card-title>
        <ion-card-subtitle>{{sName}}</ion-card-subtitle>
      <ion-card-title>FIRST LAST NAME</ion-card-title>
        <ion-card-subtitle>{{fLName}}</ion-card-subtitle>
      <ion-card-title>SECOND LAST NAME</ion-card-title>
        <ion-card-subtitle>{{sLName}}</ion-card-subtitle>
      <ion-card-title>BIRTH DATE</ion-card-title>
        <ion-card-subtitle>{{birthDate | date:'longDate'}}</ion-card-subtitle>
      <ion-card-title>Mail</ion-card-title>
        <ion-card-subtitle>{{mail}}</ion-card-subtitle>
      <ion-card-title>PHONE</ion-card-title>
        <ion-card-subtitle>{{phone}}</ion-card-subtitle>
      <ion-card-title>LINKS</ion-card-title>
          <ion-card-subtitle><a [href]="linkedin" target="_blank">linkedin</a></ion-card-subtitle>
    </ion-card-content>
      <ion-button size="small" class="ButtonUpdate">UPDATE</ion-button>

  </ion-card>

  
</ion-content>
