
*{
    margin: 0;
    padding: 0;
    color: white;
}
.card{
    margin: 2vh auto;
    width: 500px;
    padding: 1vh;
    justify-items: center;
    border-radius: 25px;
    background:#6b227d;
}
.headerCard{
    margin:1vh 0vh;
}
.cardContent{
    padding: 1vh;
    margin: 1vh 0vh;
}
.avatar{
    margin: auto;
    width: 20vh;
    height: 20vh;
}
.informatinTitle{
    text-align: center;
}

ion-card-subtitle{
    font-size: 2vh;
    padding:1vh;
    color: black;
    background-color: lightgrey;
    border-radius: 50px;
}

ion-card-title{
    text-align: center;
    margin: 1vh 0vh
}
.ButtonUpdate{
    size: small;
    display: flex;
    justify-content: center;
}
