<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">INFO USER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card">    
    <ion-card-header class="headerCard">
      <ion-avatar  class="avatar">
        <ion-img [src]="ImgUser" alt="Usuario" ></ion-img>
      </ion-avatar>
      <ion-card-title class="informatinTitle">INFORMATION</ion-card-title>    
    </ion-card-header>

    <ion-card-content class="cardContent">
      <ion-card-title>First Name</ion-card-title>
        <ion-card-subtitle>{{name}}</ion-card-subtitle>
      <ion-card-title>Middle Name</ion-card-title>
        <ion-card-subtitle>{{sName}}</ion-card-subtitle>
      <ion-card-title>First Surname</ion-card-title>
        <ion-card-subtitle>{{fLName}}</ion-card-subtitle>
      <ion-card-title>Second Surname</ion-card-title>
        <ion-card-subtitle>{{sLName}}</ion-card-subtitle>
      <ion-card-title>Birth Date</ion-card-title>
        <ion-card-subtitle>{{birthDate | date:'longDate'}}</ion-card-subtitle>
      <ion-card-title>Mail</ion-card-title>
        <ion-card-subtitle>{{mail}}</ion-card-subtitle>
      <ion-card-title>Phone</ion-card-title>
        <ion-card-subtitle>{{phone}}</ion-card-subtitle>
      <ion-card-title>Links</ion-card-title>
          <ion-card-subtitle><a [href]="linkedin" target="_blank">linkedin</a></ion-card-subtitle>
    </ion-card-content>
      <ion-button size="small" class="ButtonUpdate">UPDATE</ion-button>
  </ion-card>
</ion-content>
